# Pandas

## Series

In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

### 정의

In [ ]:
# obj = pd.Series(range(3), index=['a', 'b', 'c'])
obj = pd.Series([1, 2, -5, 3], index=['a', 'b', 'b', 'c'])
print(obj.index.is_unique)  # 인덱스 값이 유일한지 테스트
obj = obj.sort_index(ascending=False)
obj = obj.sort_values()
print(f"\nvalues count\n{obj.value_counts()}")
dic = pd.Series({'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000})
obj

False

values coun
-5    1
 1    1
 2    1
 3    1
Name: count, dtype: int64

b   -5
a    1
b    2
c    3
dtype: int64

### 활용

In [163]:
dic_to = pd.Series(dic, index=['a', 'Texas', 'c', 'Utah'])
print(f"'a' in obj : {'a' in obj}")
print(obj * 2)
print(dic_to.isnull())

'a' in obj : True
a     2
b     4
b   -10
c     6
dtype: int64
a         True
Texas    False
c         True
Utah     False
dtype: bool

### 영역

In [164]:
# print(f"obj['a']: {obj['a']}")
obj['b':'c'] = 5
print(f"obj[['a','b']]\n{obj[['a','b']]}")
print(f"obj[0:2]\n{obj[0:2]}")
print(f"obj['a':'b']\n{obj['a':'b']}")

obj[['a','b']]
a    1
b    5
b    5
dtype: int64
obj[0:2]
a    1
b    5
dtype: int64
obj['a':'b']
a    1
b    5
b    5
dtype: int64

In [165]:
objt = dic_to + dic
print(objt)
objt.name = 'population'
objt.index.name = 'state'
objt.index = [0, 1, 2, 3, 4, 5]
objt_fill = objt.reindex(range(7), method='ffill') # 이전 값 채우기
print(objt_fill)

Ohio           NaN
Oregon         NaN
Texas     142000.0
Utah       10000.0
a              NaN
c              NaN
dtype: float64
0         NaN
1         NaN
2    142000.0
3     10000.0
4         NaN
5         NaN
6         NaN
Name: population, dtype: float64

### Rank

In [ ]:
objs = pd.Series([7, 5, 3, -2, 0, 4])
objs.rank() #

## DataFrame

In [175]:
data2 = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data
    , columns=['year', 'state', 'pop']
    , index=['one', 'two', 'three', 'four', 'five', 'six'])
frame['dept'] = np.arange(6.)
frame['series'] = pd.Series([-1.5, 3, 5], index=['three', 'four', 'six'])
frame['eastern'] = frame.state == 'Ohio'
del frame['year']

frame.index.name = 'index_name'; frame.columns.name = 'column_name'

print(frame.head())
print(frame.tail(2))
print(frame.loc[['three', 'five']])
print(frame['pop'] > 3)
frame[frame['pop'] > 3]

column_name   state  pop  dept  series  eastern
index_name
one            Ohio  1.5   0.0     NaN     True
two            Ohio  1.7   1.0     NaN     True
three          Ohio  3.6   2.0    -1.5     True
four         Nevada  2.4   3.0     3.0    False
five         Nevada  2.9   4.0     NaN    False
column_name   state  pop  dept  series  eastern
index_name
five         Nevada  2.9   4.0     NaN    False
six          Nevada  3.2   5.0     5.0    False
column_name   state  pop  dept  series  eastern
index_name
three          Ohio  3.6   2.0    -1.5     True
five         Nevada  2.9   4.0     NaN    False
index_name
one      False
two      False
three     True
four     False
five     False
six       True
Name: pop, dtype: bool

column_name   state  pop  dept  series  eastern
index_name
three          Ohio  3.6   2.0    -1.5     True
six          Nevada  3.2   5.0     5.0    False

### 추가 제거

In [ ]:
frames = frame.reindex(columns=['state', 'pop', 'series', 'new'], fill_value=-1) # nan인 경우 채우기
frames = frames.drop(['three', 'five'])
# frames = framse.drop('a', inplace=True) # 원래 데이터에 영향을 주면서 삭제
frames = frames.drop(['pop'], axis=1)
print(f"array : {frames.values}")
print(f"index array : {frames.index}")
print(f"'state' in frame.columns:{'state' in frames.columns}")
print(f"frames.loc['one', 'two'] (index) \n {frames.loc[['one', 'two']]}")
frames.T

array : [['Ohio' nan -1]
 ['Ohio' nan -1]
 ['Nevada' 3.0 -1]
 ['Nevada' 5.0 -1]]
index array : Index(['one', 'two', 'four', 'six'], dtype='object', name='index_name')
'state' in frame.columns:True
frames.loc['one', 'two'] (index)
 column_name state  series  new
index_name
one          Ohio     NaN   -1
two          Ohio     NaN   -1

index_name    one   two    four     six
column_name
state        Ohio  Ohio  Nevada  Nevada
series        NaN   NaN     3.0     5.0
new            -1    -1      -1      -1

### Location

In [25]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)), index=range(3), columns=list('abc'))
frame = frame.sort_index(axis=0, ascending=False)
frame = frame.sort_values(by=['c', 'b'])
frame[frame < 5] = 0
frame.loc[1, 'b'] = np.nan

print(frame)
print("\n")
print(frame.loc[[1, 2], ['b', 'c']])
print("\n")
print(frame.iloc[[1, 2], [1, 2]])
print("\n")
print(frame.iloc[:, :3][frame.c > 5])

   a    b  c
0  0  0.0  0
1  0  NaN  5
2  6  7.0  8


     b  c
1  NaN  5
2  7.0  8


     b  c
1  NaN  5
2  7.0  8


   a    b  c
2  6  7.0  8

### Apply & Mapping

In [29]:
f = lambda x: x.max() - x.min()
print(frame.apply(f))
print(frame.apply(f, axis='columns'))
ft = lambda x : '%.2f' % x
frame = frame.fillna(0.2)
print(frame.map(ft))
print(frame['c'].map(ft))

a    6.0
b    7.0
c    8.0
dtype: float64
0    0.0
1    5.0
2    2.0
dtype: float64
      a     b     c
0  0.00  0.00  0.00
1  0.00  0.20  5.00
2  6.00  7.00  8.00
0    0.00
1    5.00
2    8.00
Name: c, dtype: object

### 통계

In [21]:
print(frame)
print(f"\nSum\n{frame.sum()}")
print(f"\nMean\n{frame.mean(axis='columns')}")
print(f"\n최대 값 인덱스\n{frame.idxmax()}")
#print("누적합 : cumsum()")
#print(f"\nrank\n{frame.rank(axis='column', method='first')}")
print("종합 통계\n")
frame.describe()

   a    b  c
0  0  0.0  0
1  0  NaN  5
2  6  7.0  8

Sum
a     6.0
b     7.0
c    13.0
dtype: float64

Mean
0    0.0
1    2.5
2    7.0
dtype: float64

최대 값 인덱스
a    2
b    2
c    2
dtype: int64
종합 통계

              a         b         c
count  3.000000  2.000000  3.000000
mean   2.000000  3.500000  4.333333
std    3.464102  4.949747  4.041452
min    0.000000  0.000000  0.000000
25%    0.000000  1.750000  2.500000
50%    0.000000  3.500000  5.000000
75%    3.000000  5.250000  6.500000
max    6.000000  7.000000  8.000000

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
print(obj.describe())
print(obj.rank())

0      4.5
1      4.5
2     10.5
3     14.5
4      4.5
5      4.5
6     10.5
7     14.5
8      4.5
9      4.5
10    10.5
11    14.5
12     4.5
13     4.5
14    10.5
15    14.5
dtype: float64

### 상관관계와 공분산

In [31]:
%conda install pandas-datareader

Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [ ]:
# corr, corrwith
# convolutoin matrix
# frame['a'].cov(frame[1]);

### Data Load

- csv example
```csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo
```

- json example
```json
[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]
```

In [ ]:
# pickel load
price = pd.read_pickle('examples/yahoo_price.pkl')
volume = pd.read_pickle('examples/yahoo_volume.pkl')

# csv load
df = pd.read_csv('examples/ex1.csv')
pd.read_csv('examples/ex2.csv'
    , header=None
    , names=['a', 'b', 'c', 'd', 'message']
    , index_col=['parent_column', 'child_column']
    , skiprows=[0, 2, 3]
    , na_values=['NULL']
    , nrows=5 # 조금씩 가져오기 , chunksize=1000 청크 사이즈로도 가능
    )

# txt load
pd.read_table('examples/ex1.csv', sep=',')
result = pd.read_table('examples/ex3.txt', sep='\s+') # 공백 구분으로 텍스트 파일을 읽는다. '\s+'는 하나 이상의 공백을 표현하는 '정규 표현식' 이다.

# json load
import json
result = json.loads(obj) #dict 타입
data = pd.read_json('examples/example.json')

# html load
tables = pd.read_html('examples/fdic_failed_bank_list.html')

# excel load
xlsx = pd.ExcelFile('examples/ex1.xlsx')
pd.read_excel(xlsx, 'Sheet1')
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

### Data Save

In [ ]:
# to csv
data.to_csv('examples/out.csv')
data.to_csv(sys.stdout, sep='|'   # sys.stdout 대신에 파일이름을 적어도 됨.
                      , na_rep='NULL'
                      , index=False, header=False
                      , columns=['a', 'b', 'c'])

# to pickle
frame.to_pickle('examples/frame_pickle')

### API, DB에서 불러오기는 생략 (6번 문서 볼 것)

### Na

In [ ]:
from numpy import nan as NA  # nan 을 NA로 활용하기 위하여 import
data = pd.Series([1, NA, 3.5, NA, 7])
dropped = data.dropna()
data[data.notnull()]

data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                     [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
all_null_drop = data.dropna(axis=1, how='all')
df.dropna(thresh=2) # 1개 이하인 경우에는 제외x

# NA 채우기
df.fillna(0)
df.fillna(method='ffill', limit=2) # 개수 제한
df.fillna(0, inplace=True) # 원본데이터 변경
df.fillna({1: 0.5, 2: 0}) # column 별로 채우기
data.fillna(data.mean()) # 평균 값 대체
df.ffill() # 이전 데이터로 채우기